{% extends 'base.html' %}

{% block ttile %}

    Contacts

{% endblock %}


{% block content %}
<div class="container mt-5">
    <h1 class="text-center"><marquee> Kindly you can reach me on these platforms </marquee></h1>
    <p class="text-center mb-4">Feel free to reach out for any cloud computing projects, collaborations, or consulting.</p>

    <div class="row justify-content-center">
        <!-- Contact Form Section -->
       
    </div>

    <div class="text-center mt-4">
        <p>Email: <a href="mailto:paulasingo32@gmail.com">paulasingo32@gmail.com</a></p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/asingo-paul-028122356">LinkedIn</a></p>
        <p>GitHub: <a href="https://github.com/Asingopaul">Github</a></p>
        <p>WhatsApp: <a href="https://wa.me/0717473314">WhatsApp</a></p>
    </div>
</div>
{% endblock %}
