{% extends 'base.html' %}

{% block title %}

    Skills

{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center"><marquee> My Skills</marquee></h1>
    <p class="text-center mb-4">As a Cloud Computing graduate, I specialize in various cloud technologies and software development.</p>

    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 mb-4">
            <h3 class="text-center">Operating Systems</h3>
            <ul class="list-group">
                <li class="list-group-item">Debian( Kali Linux )</li>
                <li class="list-group-item">Windows</li>
            </ul>
        </div>

        <!-- Cloud Platforms Section -->
        <div class="col-md-6 col-lg-4 mb-4">
            <h3 class="text-center">Cloud Platforms</h3>
            <ul class="list-group">
                <li class="list-group-item">AWS (EC2, S3, Lambda, RDS)</li>
                <li class="list-group-item">Google Cloud Platform (Compute Engine, Cloud Storage)</li>
                <li class="list-group-item">OpenStack</li>

            </ul>
        </div>

        <!-- DevOps & Automation Section -->

        

        <div class="col-md-6 col-lg-4 mb-4">
            <h3 class="text-center"><marque> DevOps & Automation </marque></h3>
            <ul class="list-group">
                <li class="list-group-item">Docker & Kubernetes</li>
                <li class="list-group-item">CI/CD (Jenkins, GitHub Actions, GitLab CI/CD)</li>
                <li class="list-group-item">Terraform & Infrastructure as Code</li>
            </ul>
        </div>

        <!-- Programming & Scripting Section -->
        <div class="col-md-6 col-lg-4 mb-4">
            <h3 class="text-center">Programming Language</h3>
            <ul class="list-group">
                <li class="list-group-item">Python (Flask, Boto3 for AWS)</li>
                <li class="list-group-item">Bash</li>
            </ul>
        </div>

        <!-- Networking & Security Section -->
        <div class="col-md-6 col-lg-4 mb-4">
            <h3 class="text-center">Networking & Security</h3>
            <ul class="list-group">
                <li class="list-group-item">Cloud Security (IAM, Security Groups, Firewalls)</li>
                <li class="list-group-item">Networking (VPC, Load Balancers, DNS)</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
